body{
    background-color: black;
  }
  #img{
    width: 50%;
    height: auto;
    max-width: 100%;
    border: 6px solid white;
    margin-top: 100px;


  }
  #img-div{
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto Slab', serif;

    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20%;
  }
